<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appname>MvcAppExample</appname>
  <deploypath></deploypath>
  <excludedlls>MvcAppExample.Web.*,MvcApp.*,System.*,Microsoft.*,ClientDependency.*</excludedlls>
  <excludefiles>Web.config,packages.config,MvcAppExample.Web.*</excludefiles>
</configuration>