<configuration>
	<components>
    <partial-component id="PageBuilder">
      <parameters>
        <tasks>
          <array>
            <item insert="last">${MvcAppExample.WebFormsMvcTab}</item>
            <item insert="last">${MvcAppExample.WebFormsHtmlTab}</item>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <component
				id="MvcAppExample.WebFormsMvcTab"
				service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
				type="MvcAppExample.WebForms.WebFormsMvcTab, MvcAppExample">
    </component>

    <component
    id="MvcAppExample.WebFormsHtmlTab"
    service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Presentation.UI.SectionGroup, UCommerce.Presentation]], UCommerce"
    type="MvcAppExample.WebForms.WebFormsHtmlTab, MvcAppExample">
    </component>
    
    <partial-component id="TreeServiceShell">
      <parameters>
        <tasks>
          <list>
            <item insert="last">${MvcAppExample.MvcAppExampleProvider}</item>
          </list>
        </tasks>
      </parameters>
    </partial-component>

    <component
      id ="MvcAppExample.MvcAppExampleProvider"
      service="UCommerce.Tree.ITreeContentProvider, UCommerce"
      type="MvcAppExample.uCommerce.MvcAppExampleProvider, MvcAppExample">
    </component>

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <item insert="last">${MvcAppExample.RegisterMvcRoute}</item>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <component id="MvcAppExample.RegisterMvcRoute"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
      type="MvcAppExample.uCommerce.RegisterMvcRouteTask, MvcAppExample">
    </component>
	</components>
</configuration>
